rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the users collection
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if false;

      match /contributions/{projectId} {
        allow create: if false;
        allow read, update, delete: if request.auth.uid == userId;
      }

      match /notifications/{notificationId} {
        allow create: if false;
        allow read, update, delete: if request.auth.uid == userId;
      }
    }

    match /StaticContent/{docId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /projects/{projectId} {
      allow read;
      allow create: if request.auth != null;
      allow delete, update: if request.auth.uid == resource.data.creator.uid

      match /contributors/{userId} {
        allow read;
        allow update: if false;
        allow create, delete: if request.auth.uid == get(/databases/$(database)/documents/projects/$(projectId)).data.creator.uid;
      }
    }
  }
}
